.wrapper {
  display: flex;
}

.tabWrapper,
.productsContainer {
  display: flex;
  width: 630px;
  flex-wrap: wrap;
}

.articleContainer {
  height: 706px;
  overflow-y: scroll;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  cursor: pointer;
}

.productCard:nth-child(odd) {
  margin-right: 24px;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.productName {
  text-align: center;
  height: 48px;
}
